<div class="col-md-4 col-md-offset-4">
  
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true , class:'form-control'%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
  </div>

  <div class="actions">
    <div class="col-md-4 col-md-offset-4">
      
    </div>
    <%= f.submit "Sign up" ,class: 'btn btn-danger btn-block'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
