<div class="col-md-4 col-md-offset-4 ">

	<% if user_signed_in? %>
	<h2> Add new startups</h2>	
	
	<%= form_for @info ,html: {multipart: true} do |f| %>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title , class: 'form-control'%>
	</div>

	<div class="field">
		<%= f.label :image %>
		<%= f.file_field :image,class: 'form-control' %>
	</div>
	<br>

	<div class="field">
		<%= f.label  :founders %>
		<%= f.text_field :founders , class: 'form-control' %>
	</div>

	<div class="field">

		<%= f.label :description %>
		<%= f.text_area :description , class: 'form-control', rows:6%>
		
	</div>
	<br>

	<div class="actions">
		<%= f.submit "Submit" , class: 'btn btn-danger btn-block'%>
	</div>

	<% end %>

	<% end %>

</div>

<% if @info.errors.any? %>
    <div id="error_explanation">
      <p class="text-danger">

      <%= pluralize(@info.errors.count, "error") %> prohibited this post from being saved:
      </p>

      <ul>
      <% @info.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



	