
<div class="container">
	
<div class="show" style="min-height:690px;">
	
<div class="col-md-12" >
	<div class="col-md-2 ">
		<%= image_tag @info.image(:thumb),class: 'img-thumb' %>
	</div>
	
	<h1 class="text-center"> <%= @info.title %> </h1>

	<hr>

</div>

<div class="col-md-3" style="border:1px solid #e3e3e3;min-height:400px;">
	<h2>Founders</h2>
	<%= @info.founders %>
</div>


<div class="col-md-6  col-md-offset-2">
	

	<%= @info.description %>
</div>
</div>
</div>




