<!DOCTYPE html>
<html>
<head>
	<title>Startupsinmalaysia</title>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class="col-md-12 navimage">
<div class="col-md-offset-5">
	
	<%= image_tag("startups in malaysia beta.png",class:'ac-nav-image' )%>
</div>
</div>




	<div class="row" style="background-color:#fff">
		
	<div class="col-md-offset-3 hidden-xs hidden-sm" style="margin-top:30px;">
		
			<ul class="nav navbar-nav">
				<li class="active">
					<%= link_to("Home", root_path) %>
				</li>
				
				<li>
					<%= link_to("Partners") %>
				</li>

				<li>
					<%= link_to("News") %>
				</li>
				
				<li>
					<%= link_to("Say hi") %>
				</li>

				<li> <%= link_to("Add new", new_addstartup_path) %> </li>

				<li>
					<%= link_to("Social enterprise") %>
				</li>

				<% if current_user %>
				<li>    
					<%= link_to("profile", "#", class: 'text-email') %> 
				</li>

				<% end %>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown ">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<% if current_user %>
							<li> <%= link_to("Logout", destroy_user_session_path, method: :delete ) %></li>
							<li><a href="#">profile</a></li>
							<li> <%= link_to("Dashboard", dashboard_path ) %>
							<li><%= link_to("New ", new_info_path) %></li>
								<% else %>
								<li> <%= link_to("login", new_user_session_path) %> </li>	
								<%end %>

							</ul>
						</li>
					</ul>

				</ul>




			
		
	</div>
	</div>



		<div class="col-md-5 col-md-offset-4">
			<p class="notice"> <%= notice %> </p>
			<p class="alert">  <%= alert %> </p>
		</div>
		
		

		
		<%= yield %>


		<div class="footer col-md-12 header-image-wrapper">
			<div class="col-md-4">
				<p> &copy Copyright Startups In Malaysia 2015 </p> 
			</div>

			<div class="col-md-4">
				<p>Contact Us</p>
				<p> Say hi to us: hello@startupsinmalaysia.com </p> 
			</div>

			<div class="col-md-4">
			<div class="container">
				
				<div class="fb-page" data-href="https://www.facebook.com/pages/190Degrees/1620098144893351" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/190Degrees/1620098144893351"><a href="https://www.facebook.com/pages/190Degrees/1620098144893351">190Degrees</a></blockquote></div></div>

				
			</div>
		</div>

		</div>

		

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	</body>
	</html>
